SECRET_KEY=your_secret_key_here

DEBUG=True

DATABASE_NAME=drf_db
DATABASE_USER=postgres
DATABASE_PASSWORD=your_password_here
DATABASE_HOST=localhost
DATABASE_PORT=5432

STRIPE_PUBLIC_KEY=pk_test...
STRIPE_SECRET_KEY=sk_test...